<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="iso-8859-1">
		<title>THE SOURCE</title>
		<style type="text/css">
            @import url('../../css/main.css');
            @import url('../../css/theme/base/jquery.ui.all.css');
        </style>
        <script type="text/javascript" src="../../js/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="../../js/ui/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../../js/custom_paginator.js"></script>
	</head>
	<body>
		<h1>.:: Gestión de Menús ::.</h1>
		<table id="paginador">
			<thead>
				<tr>
					<th colspan="5">
						<a href="../menus/adicionar_menu"><i class="icon-plus"></i>Adicionar Menú</a>
					</th>
				</tr>
				<tr>
					<th>Nombre</th>
					<th>No. Urls</th>
					<th>Asig. Urls</th>
					<th>Modificar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				#foreach($me in $menus)
				<tr>
					<td>$me.nombre</td>
					<td>$me.urls.size()</td>
					<td>
						<a href="../menus/asignar_urls?id_men=$me.id_men">
							<i class="icon-plus-sign"></i>
						</a>
					</td>
					<td>
						<a href="../menus/modificar_menu?id_men=$me.id_men">
							<i class="icon-pencil"></i>
						</a>
					</td>
					<td>
						<a href="../menus/eliminar_menu?id_men=$me.id_men">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				#end
			</tbody>
		</table>
	</body>
</html>