*{
    margin: 0 auto;
    padding: 0;
    border: none;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    text-align: center;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
}