<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="iso-8859-1">
		<title>THE SOURCE</title>
		<style type="text/css">
            @import url('../../css/main.css');
            @import url('../../css/theme/base/jquery.ui.all.css');
        </style>
        <script type="text/javascript" src="../../js/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="../../js/ui/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../../js/custom_paginator.js"></script>
	</head>
	<body>
		<h1>.:: Gestión de Tópicos ::.</h1>
		<table id="paginador">
			<thead>
				<tr>
					<th colspan="4">
						<a href="../topicos/adicionar_topico"><i class="icon-plus"></i>Adicionar Tópico</a>
					</th>
				</tr>
				<tr>
					<th>Nombre</th>
					<th>No. Eventos</th>
					<th>Modificar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				#foreach($tp in $topicos)
				<tr>
					<td>$tp.nombre</td>
					<td>$tp.eventos.size()</td>
					<td>
						<a href="../topicos/modificar_topico?id_top=$tp.id_top">
							<i class="icon-pencil"></i>
						</a>
					</td>
					<td>
						<a href="../topicos/eliminar_topico?id_top=$tp.id_top">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				#end
			</tbody>
		</table>
	</body>
</html>