<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="iso-8859-1">
		<title>THE SOURCE</title>
		<style type="text/css">
            @import url('../../css/main.css');
            @import url('../../css/theme/base/jquery.ui.all.css');
        </style>
        <script type="text/javascript" src="../../js/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="../../js/ui/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../../js/custom_paginator.js"></script>
	</head>
	<body>
		<h1>.:: Gestión de Categorías ::.</h1>
		<table id="paginador">
			<thead>
				<tr>
					<th colspan="4">
						<a href="../categorias/adicionar_categoria"><i class="icon-plus"></i>Adicionar Categoría</a>
					</th>
				</tr>
				<tr>
					<th>Nombre</th>
					<th>No. Archivos</th>
					<th>Modificar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				#foreach($ca in $categorias)
				<tr>
					<td>$ca.nombre</td>
					<td>$ca.archivos.size()</td>
					<td>
						<a href="../categorias/modificar_categoria?id_cat=$ca.id_cat">
							<i class="icon-pencil"></i>
						</a>
					</td>
					<td>
						<a href="../categorias/eliminar_categoria?id_cat=$ca.id_cat">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				#end
			</tbody>
		</table>
	</body>
</html>