<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="ISO-8859-1">
		<title>The Source</title>
		<style type="text/css">
			@import url('../../css/main.css');
		</style>
	</head>
	<body>
		<form id="form" action="../categorias/actualizar_categoria" method="post">
			<input type="hidden" name="id_cat" value="$ca.id_cat" readonly="readonly">
			<fieldset><h3>.:: Actualizar Categoría ::.</h3></fieldset>
			<fieldset>
				<ol>
					<li>
						<label for="nom">Nombre</label>
						<input type="text" id="nom" name="nombre" value="$ca.nombre">
					</li>
				</ol>
			</fieldset>
			<fieldset>
				<input type="submit" value="Aceptar">
				<input type="button" value="Cancelar" onclick="location.href='../categorias/gestion_categorias'">
			</fieldset>
		</form>
	</body>
</html>